@import "../../variables.scss";
.wd-container{
    border-radius: 30px;
    padding:15px 20px;
    &__day{
        font-size:1.4rem;
        @media screen and (max-width:992px) {
            font-size:1.2rem
        }
        @media screen and (max-width:767px) {
            font-size: 1rem;
        }
        margin-bottom: 20px;
    }
    &__main{
        display: flex;
        align-items: center;
        @media screen and (max-width:776px) {
            flex-direction: column;
            align-items: stretch;
        }
    }
    &__left-side{
        flex-basis: 30%;
        display: flex;
        flex-direction: column;
        @media screen and (max-width:776px) {
             flex-basis: 100%;
             flex-direction: row;
             justify-content: center;
             align-items: center;
             margin-bottom: 20px;
        }
    }
    &__left-img{
        display: flex;
        img{
            width:70%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__left-text{
        font-size: 2.8rem;
        padding-left: 20px;
        @media screen and (max-width:992px) {
            font-size:2.2rem;
        }
         @media screen and (max-width:767px) {
            font-size:2rem;
        }
    }
    &__right-side{
        flex-basis:70%;
        padding-left: 40px;
        @media screen and (max-width:992px) {
            padding-left:20px;
        }
        @media screen and (max-width:776px) {
            padding-left:0px;
            flex-basis:100%;
            overflow: auto;
        }
    }
    &__day-period{
        font-size: 1.1rem;
        @media screen and (max-width:992px) {
            font-size:.9rem;
        }
        text-align: center;
        padding-bottom: 5px;
    }
    &__day-time{
        font-size: 1rem;
        text-align: center;
        padding-bottom: 13px;
        @media screen and (max-width:992px) {
            font-size:.8rem;
        }
    }
    &__border{
        position: relative;
        &::after{
            top:-30px;
            position: absolute;
            display: block;
            content:"";
            width:1px;
            background-color: $main-black-color;
            height: 300px;
        }
    }
    &__label{
        font-size: .9rem;
        padding-bottom: 13px;
        white-space: nowrap;
        text-align: end;
        @media screen and (max-width:767px) {
            text-align: left;
        }
    }
    &__icon{
        text-align: center;
        width:65px;
        height: 65px;
        img{
            width:100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__value{
        font-size: .9rem;
        font-family: 'openSans-bold';
        text-align: center;
        padding-bottom: 13px;
        @media screen and (max-width:992px) {
            font-size:.7rem;
        }
    }   
    &__table{
        width:100%;
        font-family: 'openSans-reg';
        @media screen and (max-width:767px) {
            min-width: 600px;
        }
    }
}
