$main-black:#080338;
$white-color:#FFFFFF;
$gray:#C0C0C0;


$fonts-reg:("inter-reg":"Inter-Regular.otf","openSans-reg":"OpenSans-Regular.ttf");
$fonts-bold:("openSans-bold":"OpenSans-SemiBold.ttf");
$fonts-medium:("inter-medium":"Inter-Medium.otf");
