$main-black-color:#080338;
$main-white-color:#FFFF;
$block-color:rgba(255, 253, 253, 0.03);

$fonts-reg:("inter-reg":"Inter-Regular.otf","openSans-reg":"OpenSans-Regular.ttf");
$fonts-bold:("openSans-bold":"OpenSans-SemiBold.ttf");
$fonts-medium:("inter-medium":"Inter-Medium.otf");
