@import "../../variables.scss";

.main-part-container{
    background-color: rgba(255, 255, 255, 0.03);
    border-radius: 30px;
    padding:15px 20px;
    &__day{
        font-size:1.4rem;
        @media screen and (max-width:992px) {
            font-size:1.2rem
        }
        @media screen and (max-width:767px) {
            font-size: 1rem;
        }
        margin-bottom: 20px;
    }
}

.weather-container{
    display: flex;
    align-items: center;
    &__main{
        flex-basis: 30%;
        display: flex;
        flex-direction: column;
        &-img{
            display: flex;
            img{
                width:100%;
                height: 100%;
                object-fit: contain;
            }
        }
        &-text{
            font-size: 2.8rem;
            padding-left: 20px;
            @media screen and (max-width:992px) {
                font-size:2.2rem;
            }
             @media screen and (max-width:767px) {
                font-size:2rem;
            }
        }
    }
    &__weather-during-day{
        flex:70%;
        padding-left: 40px;
        @media screen and (max-width:992px) {
            padding-left:20px;
        }
        @media screen and (max-width:767px) {
            padding-left:5px;
        }
    }
    &__table{
        width:100%;
        color:$white-color;
        &-label{
            color:$gray;
            font-size: .9rem;
            padding-bottom: 13px;
            white-space: nowrap;
            text-align: end;
        }
        font-family: 'openSans-reg';
        &-value{
            font-size: .9rem;
            font-family: 'openSans-bold';
            text-align: center;
            padding-bottom: 13px;
            @media screen and (max-width:992px) {
                font-size:.7rem;
            }
        }
        &-time{
            font-size: 1rem;
            text-align: center;
            padding-bottom: 13px;
            @media screen and (max-width:992px) {
                font-size:.8rem;
            }
        }
        &-icon{
            text-align: center;
            width:65px;
            height: 65px;
            img{
                width:100%;
                height: 100%;
                object-fit: contain;
            }
        }
        &-day-period-name{
            font-size: 1.1rem;
            @media screen and (max-width:992px) {
                font-size:.9rem;
            }
            text-align: center;
            padding-bottom: 5px;
        }
        &-border{
            position: relative;
            &::after{
                top:-30px;
                position: absolute;
                display: block;
                content:"";
                width:1px;
                background-color: $gray;
                height: 300px;
            }
        }
    }
}
